@page "/admin/people"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<ClinicContext> dbs

<PageTitle>People</PageTitle>

<h1>People</h1>

<table class="table">
    <thead>
        <tr>
            <th>Person ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in persons)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Email</td>
                <td>@person.Phone</td>
                <td>@person.Address</td>
                <td>@person.City</td>
                <td>@person.State</td>
                <td>@person.ZipCode</td>
                <td>@person.Country</td>
                <td>@person.Gender</td>
                <td>@person.DateOfBirth</td>
                <td>@person.Notes</td>
                <td>
                    <a href="/admin/people/edit/@person.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Person> persons = [];

    protected override async Task OnInitializedAsync()
    {
        using var db = dbs.CreateDbContext();
        persons = await db.Person.ToListAsync();
    }
}
